<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>aTES</title>

  <style>
    .topnav {
      display: flex;
      align-items: center;
      padding: 0 0 1em;
      margin-bottom: 2em;
      border-bottom: 2px solid #aaa;
    }

    .topnav__logotype {
      flex: 0 1 10em;
    }

    .topnav__navigation {
      flex: 1;
    }

    .topnav__user {
      flex: 0 1 200px;
    }

    .topnav__user form {
      display: inline;
    }

    .logotype {
      display: inline;
      font-size: 1.5em;
      margin: 0;
      padding: 0;
    }

    .nav {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .nav li {
      display: inline-block;
      padding: 0;
      margin-right: 2em;
    }

    table {
      width: 100%;
    }

    table th,
    table td {
      text-align: left;
      border-collapse: collapse;
      border-bottom: 1px solid #eee;
      padding: .5em 1em;
    }
  </style>
</head>
<body>


<div class="topnav">
  <div class="topnav__logotype">
    <h1 class="logotype">aTES</h1>
  </div>
  <div class="topnav__navigation">
    <ul class="nav">
      <li><%= link_to "Бухгалтерия", "http://localhost:5001" %></li>
      <li><%= link_to "Задачи", "http://localhost:5005" %></li>
      <li><%= link_to "Аналитика", "http://localhost:5002" %></li>
      <li><%= link_to "Уведомления", "http://localhost:5004" %></li>
      <li><%= link_to "Попуги", "http://localhost:5003" %></li>
    </ul>
  </div>

  <div class="topnav__user">
    <% if user_signed_in? %>

      <strong>
        <%= link_to current_user.name, "http://localhost:5003/users/#{current_user.id}" %>
      </strong>

      <%= form_for current_user, method: :delete, url: destroy_user_session_path do %>
        <button type="submit">Выйти</button>
      <% end %>
    <% end %>
  </div>
</div>

<%= yield %>

</body>
</html>